.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24292e;
  padding: 20px;
  color: #ffffff;
}

@media only screen and (max-device-width: 480px) {
  .Footer {
    text-align: center;
  }
}

.Footer-text {
  opacity: 0.35;
}

.Footer-link {
  color: #ffffff;
  opacity: 1;
}