.Repositories {

}

.Repositories-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.Repository {
  padding: 20px;
}

.Repository-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Repository-title-action {
  margin-left: 10px;
}

.Repository-description {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.Repository-description-details {
  text-align: right;
  white-space: nowrap;
}