.Issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.Issues-content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-device-width: 480px)
{
  .Issues-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-device-width: 480px)
{
  .IssueList {
    margin: 20px 0;
  }
}