body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul, li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}